
/* Controlli carousel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 20px;
}

/* Indicatori */
.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators button.active {
    background-color: white;
}

/* Mobile */
@media (max-width: 767px) {
 
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 15px;
    }
}